* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;

}

body{
    background-image: url("/img/design-destaque-58.webp");                     
    background-position: auto ;
    background-size: auto;

}

button {
    background-color: #FDFDFD;
    color: #102F5e;
    border:  2px solid #102F5e;
    padding: .3rem .6rem;
    font-size:  1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    display: inline;

}

button:hover {
    background-color: #102F5e;
    color: #fff;

}


button:hover {
    color: #fff;
}

button i {
    color: #102F5e;
    font-weight: bold;
    pointer-events: none;

}

input, select{
    padding:  0.25rem 0.25rem;
    

}



/* todo header */

.todo-container {
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: #FDFDFD;
  padding: 1.5rem;
  border-radius: 15px;
  

}

.todo-container header {
    text-align: center;
    padding:  0 1rem 1rem ;
    border-bottom:  1px solid #ccc;

}

/*  todo from */ 
#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #ccc;

}

#todo-form p,
#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;

}

.form-control {
    display: flex;
}

.form-conreol input {
    margin-right: 0.3rem;
}

#cancel-edit-btn {
    margin-top: 1rem;

}

/* todo toolbar */ 
#toolbar{
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;

}

#toolbar h4{
    margin-bottom: .5rem;
}

#search {
    border-radius:  1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;

}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: 0.3rem;
}

#filtrar {
    width: 35%;
    display: flex;
    flex-direction: column;

}

#filter select {
    flex: 1;


}


